cache=.npm
@rdapp:registry=http://registry.npm.rdapp.com/
registry=https://registry.npmmirror.com/

# 设置 shamefully-hoist=true 将所有依赖都提升至根目录(不推荐)
# shamefully-hoist=true
# 推荐
# 如果使用 pnpm ，在没有任何.npmrc配置的的情况下，将无法获得代码提示和类型校验，因为在顶层依赖中没有(和插件版本也有关系,vue-official 2.0.19没问题)
# https://github.com/unplugin/unplugin-vue-components/issues/389
public-hoist-pattern[]=@vue*