/* el-input 输入框样式 */
.el-input {
    @include whrem(353, 40);

    .el-input__wrapper {
        box-shadow: none;
        padding: 0;
        background: transparent;
        border-radius: 0;
        @include wh;
        position: relative;

        &.is-focus,
        &:hover {
            box-shadow: none;
        }

        .el-input__inner {
            @include wh;
            @include fontStyle(4);
            @include fontColor(2);
            border: pxToRem(1) solid;
            @include themeColor(var(--inputBorderAlpha), border-color);
            border-radius: pxToRem(12);
            background: none;
            line-height: pxToRem(40);
            padding-left: pxToRem(22);
            padding-right: pxToRem(30);
        }

        .el-input__prefix,
        .el-input__suffix {
            width: fit-content;
            @include fontColor(2);
            @include flexCenter;
            position: absolute;

            .el-input__suffix-inner {
                @include wh(fit-content);
                @include flexCenter;

                .el-input__icon {
                    @include iconSize(2);
                    @include flexCenter;
                }
            }
        }

        .el-input__prefix {
            left: pxToRem(6);
        }

        .el-input__suffix {
            right: pxToRem(8);
            @include themeColor(1, color);
        }

        &:not(.is-disabled):hover {
            .el-input__inner {
                @include themeColor(1, border-color);
            }
        }

        &.is-focus {
            .el-input__inner {
                @include themeColor(1, border-color, true);
            }
        }

        &:focus {
            @include themeColor(1, border-color);
        }

        .el-input__clear {
            @include fontColor(3);
        }
    }

    &.is-disabled {
        .el-input__wrapper {
            background: transparent;
            box-shadow: none;
            .el-input__inner {
                @include themeColor(0.08, background-color);
                @include themeColor(0.26, border-color);
                &:hover {
                    @include themeColor(0.26, border-color);
                }
            }
        }
    }
}

/* 原生 input 输入框样式 */
input {
    @include whrem(353, 40);
    border: pxToRem(1) solid;
    @include themeColor(var(--inputBorderAlpha), border-color);
    border-radius: pxToRem(12);
    line-height: pxToRem(40);
    padding-left: pxToRem(22);
    padding-right: pxToRem(30);
    @include fontColor(2);
    @include fontStyle(4);
    background: none;

    &:focus,
    &:hover {
        @include themeColor(1, border-color);
    }
}

.el-textarea {
    .el-textarea__inner {
        @include fontStyle(4);
        @include fontColor(2);
        border: pxToRem(1) solid;
        @include themeColor(var(--inputBorderAlpha), border-color);
        border-radius: pxToRem(12);
        background: none;
        box-shadow: none;
        padding: pxToRem(6) pxToRem(16) pxToRem(6) pxToRem(16);
        @include scrollbarStyle;
    }
}
