// .el-notification 通知样式
.el-notification {
    $backgroundAlpha: 0.3;
    @include panelShadow(0.46, themeColor);
    @include flexCenter(flex-start, flex-start);
    width: pxToRem(400);
    padding: pxToRem(16);
    border-radius: pxToRem(12);
    backdrop-filter: blur(pxToRem(2));
    border: none;
    transition: opacity 0.3s, left 0.3s, right 0.3s, top 0.4s, bottom 0.3s, transform 0.3s !important;
    position: absolute;
    overflow: hidden;

    &.right {
        right: pxToRem(30);
    }

    .el-notification__icon {
        @include fontStyle(2);
        width: fit-content;
    }

    .el-notification__group {
        flex: 1;
        margin: 0;
        padding-left: pxToRem(9);
        padding-right: pxToRem(24 + 10);
        position: relative;

        .el-notification__title {
            @include fontStyle(2);
            margin-bottom: pxToRem(7);
        }

        .el-notification__content {
            @include fontStyle(4);
        }

        .el-notification__closeBtn {
            @include iconSize;
            position: absolute;
            top: 0;
            right: 0;
            font-weight: bolder;
            cursor: pointer;
        }
    }

    &.success {
        @include successColor($backgroundAlpha, background-color);
        @include panelShadow(0.46, successColor);

        .el-notification__icon {
            @include successColor(1, color);
        }

        .el-notification__group {
            .el-notification__title,
            .el-notification__content,
            .el-notification__closeBtn {
                @include successColor(1, color);
            }
        }
    }

    &.error {
        @include errorColor($backgroundAlpha, background-color);
        @include panelShadow(0.46, errorColor);

        .el-notification__icon {
            @include errorColor(1, color);
        }

        .el-notification__group {
            .el-notification__title,
            .el-notification__content,
            .el-notification__closeBtn {
                @include errorColor(1, color);
            }
        }
    }

    &.info {
        @include themeColor($backgroundAlpha, background-color);
        @include panelShadow(0.46, themeColor);

        .el-notification__icon {
            @include themeColor(1, color);
        }

        .el-notification__group {
            .el-notification__title,
            .el-notification__content,
            .el-notification__closeBtn {
                @include themeColor(1, color);
            }
        }
    }

    &.warning {
        @include warnColor($backgroundAlpha, background-color);
        @include panelShadow(0.46, warnColor);

        .el-notification__icon {
            @include warnColor(1, color);
        }

        .el-notification__group {
            .el-notification__title,
            .el-notification__content,
            .el-notification__closeBtn {
                @include warnColor(1, color);
            }
        }
    }

    &.noMessage {
        .el-notification__group {
            .el-notification__title {
                margin-bottom: pxToRem(0);
            }

            .el-notification__content {
                display: none;
            }
        }
    }
}
