/* popover 弹出框样式 */
.el-popover.el-popper {
    @include bodyBackground(1, background-color, true);
    @include fontColor(3);
    border: none !important;
    width: fit-content !important;
    min-width: fit-content;
    max-width: pxToRem(228);
    padding: 0;

    .el-popper__arrow {
        @include whrem(16);
        &::before {
            @include whrem(16);
            @include bodyBackground(1, background-color, true);
            border: none !important;
        }
    }
}

/* dialog 对话框样式 */
.el-dialog {
    width: fit-content;
    border-radius: pxToRem(12);
    @include panelStyle(true);
    @include panelShadow(0.46);
    padding: 0;

    .el-dialog__header {
        min-width: pxToRem(464);
        height: pxToRem(48);
        line-height: pxToRem(48);
        padding: 0 pxToRem(16);
        @include themeColor(0.08, background-color);
        @include flexCenter(flex-start);
        @include themeColor(1, color);
        @include fontStyle(2);
        .el-dialog__title {
            @include themeColor(1, color);
            @include fontStyle(2);
        }
    }
    .el-dialog__body {
        min-width: pxToRem(464);
        min-height: pxToRem(54);
        padding: pxToRem(16);
    }
    .el-dialog__footer {
        padding: pxToRem(16);
    }
}

/* el-button 按钮样式 */
.el-button {
    padding: pxToRem(12) pxToRem(16);
    @include fontStyle(4);
    border-radius: pxToRem(12);
}

/* 黑暗模式样式 */
@include darkStyle {
    .el-popover.el-popper {
        @include whiteColor(1, color);
        @include panelStyle(true);
        border: none !important;

        .el-popper__arrow {
            @include whrem(16);
            &::before {
                @include whrem(16);
                @include panelStyle(true);
                border: none !important;
            }
        }
    }
}
