body {
    @include bodyBackground(1, background-color);

    #app {
        @include wh;
        overflow: hidden;
        @include flexCenter(flex-start, flex-start);
        @include themeColor(0.03, background-color);
        $menuList: 288;
        position: relative;

        div[menuList] {
            @include wh(pxToRem($menuList), 100%);
            position: absolute;
            left: 0;
            top: 0;
            transition: color var(--baseTransition), background var(--baseTransition),
                border-color var(--baseTransition), width 0.3s !important;
            z-index: 10;
            padding: pxToRem(16) 0;

            div[menuMain] {
                @include wh;
                @include panelStyle;
                @include panelShadow;
                border-radius: pxToRem(0) pxToRem(20) pxToRem(20) pxToRem(0);
                &:after {
                    border-radius: pxToRem(0) pxToRem(20) pxToRem(20) pxToRem(0);
                }

                #systemTitle {
                    @include wh(100%, pxToRem(90));
                    @include flexCenter;
                    border-bottom: pxToRem(1) solid;
                    @include themeColor(var(--dividingLineAlpha), border-color);
                    overflow: hidden;

                    #logo {
                        width: pxToRem(32);
                        aspect-ratio: 1;
                        border-radius: 50%;
                        margin-top: pxToRem(-42);
                        display: flex;
                        justify-content: center;
                        overflow: hidden;
                        transform-origin: 50% 116.5%;
                        animation: logoAnimation 2s infinite linear;

                        &:before {
                            content: '';
                            min-width: 233%;
                            height: 233%;
                            background: radial-gradient(
                                        farthest-side,
                                        rgb(var(--themeColor)) 90%,
                                        #0000
                                    )
                                    top,
                                radial-gradient(farthest-side, rgb(var(--successColor)) 90%, #0000)
                                    left,
                                radial-gradient(farthest-side, rgb(var(--errorColor)) 90%, #0000)
                                    bottom,
                                radial-gradient(farthest-side, rgb(var(--warnColor)) 90%, #0000)
                                    right;
                            background-size: 43% 43%;
                            background-repeat: no-repeat;
                            animation: inherit;
                            animation-direction: reverse;
                        }
                    }

                    @keyframes logoAnimation {
                        100% {
                            transform: rotate(360deg);
                        }
                    }

                    .title {
                        @include themeColor(1, color);
                        @include fontStyle(1);
                        margin-left: pxToRem(32);
                    }
                }

                .menu {
                    width: 100%;
                    @include wh(100%, calc(100% - #{pxToRem(90)} - #{pxToRem(48)}));
                    @include scrollbarXYStyle();
                }

                div[menuGroup] {
                    @include wh;
                    @include scrollbarStyle;
                    padding: 0 pxToRem(16);
                    div[menuItem] {
                        margin-top: pxToRem(16);

                        div[childrenMenu] {
                            width: 100%;
                            overflow: hidden;
                            height: 0;
                            @include baseTransition(height);
                            div {
                                width: 100%;
                                button {
                                    padding-left: pxToRem(44);
                                    h4 {
                                        width: 100%;
                                    }
                                }
                            }
                            &.show {
                                height: var(--height);
                            }
                        }

                        button {
                            @include wh(100%, pxToRem(48));
                            @include themeColor(0, background-color);
                            @include flexCenter(flex-start);
                            @include baseTransition(width);
                            border-radius: pxToRem(12);
                            outline: none;
                            border: none;
                            text-align: left;
                            cursor: pointer;
                            padding: 0 pxToRem(10);
                            &:hover {
                                @include themeColor(
                                    var(--datalistHoverBackgroundAlpha),
                                    background-color
                                );
                            }
                            & > div {
                                display: flex;
                                align-items: center;
                                flex: 1;
                                flex-shrink: 0;
                            }
                            .BoatIconfont {
                                @include iconSize(2);
                                @include fontColor(3);

                                &:first-child {
                                    @include iconSize(1);
                                    margin-right: pxToRem(12);
                                }

                                &:last-child {
                                    @include baseTransition(transform);
                                }
                            }
                            h4 {
                                @include fontColor(3);
                                @include textHidden;
                                width: calc(100% - #{pxToRem(22 + 8 + 16)});
                            }
                            &.active {
                                @include themeColor(1, background-color);
                                &:hover {
                                    @include themeColor(1, background-color);
                                }
                                .BoatIconfont {
                                    @include whiteColor(1, color);
                                }
                                h4 {
                                    @include whiteColor(1, color);
                                }
                            }

                            &.expand {
                                @include themeColor(0.06, background-color);
                                .BoatIconfont {
                                    &:last-child {
                                        transform: rotate(90deg);
                                    }
                                }
                            }
                        }
                    }
                }

                .collapseExpandButton {
                    @include whrem(100%, 48);
                    @include flexCenter;
                    border-radius: 0 0 pxToRem(12) 0;
                    @include themeColor(0.06, background-color);
                    cursor: pointer;
                    @include baseTransition(width);
                    @include fontColor(1);
                    &:hover {
                        @include themeColor(var(--datalistHoverBackgroundAlpha), background-color);
                    }
                    .BoatIconfont {
                        @include iconSize(1);
                    }
                }
            }
        }

        div[mainArea] {
            @include wh;
            @include flexCenter(center, center, true);
            padding: pxToRem(16) pxToRem(30) pxToRem(16) pxToRem($menuList + 30);
            @include baseTransition(padding);

            // 头部
            div[header] {
                @include wh(100%, pxToRem(88));
                @include flexCenter(space-between);
                @include panelStyle;
                @include panelShadow;
                border-radius: pxToRem(20);
                padding: pxToRem(0) pxToRem(16) pxToRem(0) pxToRem(17);
                margin-bottom: pxToRem(30);
                position: relative;
                z-index: var(--zIndex);

                // 面包屑样式
                div[breadcrumb] {
                    height: 100%;
                    @include flexCenter;
                    @include fontColor(3);
                    & > div {
                        @include flexCenter;
                        .BoatIconfont {
                            margin-right: pxToRem(9);
                            @include iconSize(2);
                            @include fontStyle(2);
                        }
                        h2 {
                            margin-right: pxToRem(9);
                            @include fontStyle(2);
                            cursor: pointer;
                            &:hover {
                                @include themeColor(0.8, color);
                            }
                            &.active {
                                @include themeColor(1, color);
                            }
                        }
                    }
                }

                // 操作区域
                div[operation] {
                    height: 100%;
                    @include flexCenter;
                    gap: pxToRem(16);
                }

                // 右侧区域
                div[rightArea] {
                    @include flexCenter;
                    height: 100%;
                }
            }

            // 内容区域
            div[mainContent] {
                flex: 1;
                flex-shrink: 0;
                width: 100%;
                position: relative;

                div[contentArea] {
                    @include wh;
                    @include panelStyle;
                    position: absolute;
                    @include panelShadow;
                    border-radius: pxToRem(20);
                    overflow: hidden;
                }
            }
        }

        &.hide {
            div[menuList] {
                width: pxToRem(124);
                #systemTitle {
                    .title {
                        display: none;
                    }
                }
                div[menuMain] {
                    .menu {
                        div[menuGroup] {
                            div[menuItem] {
                                button {
                                    width: 100%;
                                    @include flexCenter;
                                    & > div {
                                        @include flexCenter;
                                    }
                                    .BoatIconfont {
                                        &:first-child {
                                            margin-right: 0;
                                        }
                                        &:last-child {
                                            display: none;
                                        }
                                    }
                                    h4 {
                                        display: none;
                                    }
                                }
                                div[childrenMenu] {
                                    display: none;
                                }
                            }
                        }
                    }
                    .collapseExpandButton {
                        transform: rotate(180deg);
                        border-radius: pxToRem(12) 0 0 0;
                    }
                }
            }
            div[mainArea] {
                padding-left: pxToRem(124 + 30);
            }
        }
    }
}
