/* 全局样式配置 */
@charset "UTF-8";

:root {
    /* 基础过度时间 -> 0.5s */
    --baseTransition: 0.5s;
    /* 基础白色 -> rgb(255,255,255) */
    --whiteColor: 255, 255, 255;
    /* 基础黑色 -> rgb(0,0,0) */
    --blackColor: 0, 0, 0;
    /* 强调色/主题色 -> rgb(63, 81, 181) */
    --themeColor: 63, 81, 181;
    /* 成功/安全色 -> rgb(0, 200, 140) */
    --successColor: 0, 200, 140;
    /* 常规色 -> rgb(63, 81, 181) */
    --normalColor: 63, 81, 181;
    /* 告警/错误色 -> rgb(255, 77, 77) */
    --errorColor: 255, 77, 77;
    /* 警告/提醒色 -> rgb(255, 153, 0) */
    --warnColor: 255, 153, 0;
    /* 警告/辅助色-黄 -> rgb(251, 218, 0) */
    --assistColorYellow: 251, 218, 0;
    /* 故障/禁用色 -> rgb(116, 130, 159) */
    --disabledColor: 116, 130, 159;
}

@font-face {
    font-family: 'iconfont';
    src: url('./font/iconfont.woff2') format('woff2');
}

.iconfont {
    font-family: 'iconfont' !important;
    font-size: 1rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body #loadingMaskView {
    background-color: rgba(var(--bodyBackground), 1);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100000000000;
    box-sizing: border-box;
    overflow: hidden;
}

body #loadingMaskView div {
    width: 3rem;
    aspect-ratio: 0.577;
    clip-path: polygon(0 0, 100% 100%, 0 100%, 100% 0);
    position: relative;
    animation: loadingAnimation 2s infinite linear;
    overflow: hidden;
}

body #loadingMaskView div:before {
    content: '';
    position: absolute;
    inset: -150% -150%;
    background: repeating-conic-gradient(
        from 30deg,
        rgb(var(--assistColorYellow)) 0 60deg,
        rgb(var(--themeColor)) 0 120deg,
        rgb(var(--errorColor)) 0 180deg
    );
    animation: inherit;
    animation-direction: reverse;
}

@keyframes loadingAnimation {
    100% {
        transform: rotate(360deg);
    }
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input,
textarea,
hr {
    margin: 0;
    padding: 0;
    border: none;
    font-family: '微软雅黑';
    font: inherit;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* 全局添加怪异盒模型 */
    box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
img {
    display: block;
    border: none;
}

body {
    line-height: 1;
}

ul,
ol,
li {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a,
u {
    text-decoration: none;
}

input {
    outline: none;
}

i {
    font-style: normal;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

html {
    font-size: 16px;
}
